<h1>Корзина</h1>

<style>
  table tbody th {
    border-top: 0;
  }
</style>

<% if @wishes.select{ |wish| wish.status == :active || wish.status == :inactive }.count > 0 %>
  <p><span class="label important">К сведению</span> После нажатия на "Отправить на обработку" ваш заказ отправится на обработку менеджеру, который примет решение и сообщит о дальнейших действиях посредством телефонного звонка. Если на данном этапе у вас имеются вопросы по совместимости и подходимости автозапчасти, то воспользуйтесь <%= link_to "Консультацией", requests_path %>. В зависимости от возможности осуществления ваш заказ будет выполнен без предоплаты, с предоплатой электронными деньгами, выставлен счет на оплату или наличными в нашем офисе с заключением договора. Аналогично в зависимости от массы и объема заказа, ваш заказ будет доступен для самовывоза, отправлен почтой или транспортной компанией, или передан вам в удобном для вас месте.</p>
  <br />
  
  <ul data-tabs="tabs" class="tabs" style="margin-bottom: 0">
    <li class="active"><a href="#active">В корзине</a></li>
    <li><a href="#inactive">Отложенные</a></li>
  </ul>         
 
  <div class="tab-content" id="my-tab-content">
    
    <div id="active" class="active tab-pane">
      <% if(active_wishes = @wishes.select{ |wish| wish.status == :active }).size > 0 %>      
        <%= render :partial => "table_active", :locals => {:wishes => active_wishes} %>
      <% else %>
        <br />
        <p>Товары в корзине отсутствуют, зато у вас имеются отложенные товары.</p>
      <% end %>
    </div>
    
    <div id="inactive" class="tab-pane">
      <% if(inactive_wishes = @wishes.select{ |wish| wish.status == :inactive }).size > 0 %>
        <%= render :partial => "table_inactive", :locals => {:wishes => inactive_wishes}%>
      <% else %>
        <br />
        <p>Отложенные товары отсутствуют.</p>
      <% end %>
    </div>
    
  </div>
  
<% else %>
  Ваша корзина пуста.
  <% @show_sidebar = true %>
<% end %>
