<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Добро пожаловать!</h1>
  <p>Рады, что вы посетили наш магазин автозапчастей, надеемся вам понравятся наш ассортимент и цены. Если вы знаете артикул автозапчасти, то можете приступить к поиску прямо сейчас или связаться с нашим менеджером, для консультации и подбора.</p>
  <p><a class="btn primary large">Искать &raquo;</a> <a class="btn primary large">Связаться с менеджером &raquo;</a></p>
</div>

<ul class="media-grid">
	<li style="float: left;">
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x150" alt="">
    </a>
  </li>
  
  <li style="float: left;">
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x150" alt="">
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x150" alt="">
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x150" alt="">
    </a>
  </li>
</ul>
