<h1><%= @meta_title = "Регистрация" %></h1>
<%= render :partial => 'new', :locals => {:notice_text => (defined?(notice_text) ? notice_text : nil) } %>

<%= render :partial => "devise/shared/loginza" %>
