<%= render :partial => "form" %>

<!-- Копипапст со страницы результата поиска -->
<%= tag("img", :src => "/assets/init.gif", :width => "35", :height => "32", :class => "info", :id => "info", :data => {:catalog_number => params[:pnc][:pnc], :manufacturer => "TOYOTA:PNC"}, :rel => "nofollow", :alt => "Информация", :title => "Информация") %>
<!-- /Копипапст со страницы результата поиска -->

    <div id='info' class='dynamic' style="width: 1768px"></div>
