<%= render :partial => "form" %>

<script>
  <% # TODO пересмотреть в свете изменений за последний месяц. Необходима единая точка запроса информации. info и searches уже объединены в application.rb (если не ошибаюсь) %>
  $(document).ready(function(){
    Application.connect();
    Application.publish('info', "<%= params[:pnc][:pnc] %>", "TOYOTA:PNC");
  });
</script>

    <div id='info' class='dynamic'></div>
