<h1>ШАГ 2 из 2 <small>Составление запроса менеджеру</small></h1>

<% if @request.car.present? %>
  <p><span class="label">К сведению</span> Вы составляете запрос на поиск автозапчасти для <strong>"<%= car_identity(@request) %>"</strong></p>
<% else %>
  <p><span class="label">К сведению</span> Вы составляете запрос на поиск автозапчасти <strong>без указания автомобиля</strong>.</p>
<% end %>

<br /><br />

<%= render :partial => 'form', :locals => {:save_text => "Отправить",
                               :return_text => "списку авто",
                               :return_path => cars_path} %>
