<h1>ШАГ 2 из 2 <small>Составление запроса менеджеру</small></h1>

<p><span class="label">К сведению</span> Sed a lacus nisl. Nullam non sollicitudin magna. Donec imperdiet ullamcorper purus at rhoncus. Nullam tempus aliquet libero vel varius. In hac habitasse platea dictumst.</p>
<br />

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
