<ul class="breadcrumb">
  <li><a href="/">Главная</a> <span class="divider">/</span></li>
  <li><%= link_to "Список авто", cars_path %> <span class="divider">/</span></li>
  <li class="active">Составление запроса менеджеру</li>
</ul>

<h1>ШАГ 2 из 2 <small>Составление запроса менеджеру</small></h1>

<% if @request.car.present? %>
  <p><span class="label">К сведению</span> Вы составляете запрос на поиск автозапчасти связанный с автомобилем <strong>"<%= car_identity(@request) %>"</strong></p>
<% else %>
  <p><span class="label">К сведению</span> Вы составляете запрос на поиск автозапчасти <strong>без указания автомобиля</strong>.</p>
<% end %>

<hr /><br />

<%= render :partial => 'form', :locals => {:save_text => "Отправить",
                               :return_text => "списку авто",
                               :return_path => cars_path} %>