<h1>Смена статуса заказа</h1>
<p><span class="label">К сведению</span> Как только вы смените статус заказа на "<%= t(:processed)%>" покупатель больше не сможет отменить заказ.</p>
<br />


<%= render 'form' %>
