<h1>Смена статуса заказа</h1>
<%= hint_decorator("Как только вы напишите ответ, статус заказа автоматически сменится на \"#{t(:processed)}\". Никто больше не сможет изменить список заказанных товаров. Будьте внимательны. Связывайтесь с покупателем и обговаривайте заказ до написания ответа. В противном случае все дальнейшие изменения будут меняться только через \"Результат обработки\".") %>
<br />


<%= render 'form' %>
