<h1>Смена статуса заказа</h1>
<p><span class="label">К сведению</span> Как только вы напишите ответ, статус заказа автоматически сменится на "<%= t(:processed)%>". Никто больше не сможет изменить список заказанных товаров. Будьте внимательны. Связывайтесь с покупателем и обговаривайте заказ до написания ответа. В противном случае все дальнейшие изменения будут меняться только через "Результат обработки".</p>
<br />


<%= render 'form' %>
