<h1>Список заказов</h1>

<table class="zebra-striped">
  <tr>
    <th>№</th>
    <th>Дата заказа</th>
    <th>Статус заказа</th>    
    <th></th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= l(order.created_at, :format => :short) %></td>
      <td>
        <% if order.status == :awating %>
          <p class='icons-24 icons-24-sprite icons-24-awating'></p>
        <% else %>
          <p class='icons-24 icons-24-sprite icons-24-response-light'</p>
        <% end %>        
      </td>
      <td><%= link_to 'Просмотр', order %></td>
    </tr>
  <% end %>
</table>