defaults: &defaults
  site_address: 'www.yaponama.ru'
  price_request_cache_with_replacements_in_seconds: 7776000 # 3 мес.
  price_request_cache_without_replacements_in_seconds: 3600 #  1 час.
  redis_address: 'localhost'
  redis_port: 6379
  juggernaut_address: 'www.yaponama.ru'
  price_address: '188.64.170.156'
  request_emex: true
  emex_income_rate: 1.05
  avtorif_income_rate: 1.12
  retail_rate: 1.15
  robokassa_integration_mode: 'production'
  robokassa_pass_1: 'Qwer3322'
  robokassa_pass_2: 'Qwer2233'
  robokassa_user: 'woto7'
  send_request_from_search_page: true
  cached_ip:
    - 66.249.64.0/19
    - 95.108.248.0/23

development:
  <<: *defaults

production:
  <<: *defaults
