<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'call_me'}) %>

<div class="clearfix tel required hint-hack">
  <%= simple_form_for CallbackRequest.new, :remote => true, :url => please_callback_requests_path, :html => {:id => "callback_request", :style => "margin: 0"} do |callback| %>
    <div class="input" style="margin-left: 0">
      <div class="input-prepend">
        <span class="add-on">+7</span>
        <div class="string optional">
          <div class="input" style="margin-left: 0">
            <input maxlength="10" name="callback_request[phone]" value="<%= params[:callback_request][:phone] if params[:callback_request] && params[:callback_request][:phone] %>" size="10" style="width: 100px; margin-right: -5px" />
            <input style="width: 45px; height: 28px" type="submit" value="Ок" name="commit" data-disable-with="Ок" class="primary btn">
            <span class="help-block">Только цифры</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%=
  if @callback_request && @callback_request.errors

    #errors_list = ""
    #errors_list << @callback_request.errors.full_messages.map { |message| content_tag(:li, message) }.join("\n")
    #content_tag(:ul, errors_list.html_safe, :class => "error-recap round-border")
    content_tag(:div, "Неправильно указан номер телефона, введите просто десять цифр вашего телефона без \"+7\" или \"8\"", :style => 'color: #B94A48; margin-top: 18px')
  end
%>
