<%= simple_form_for(@feed_category, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
