<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feed_category.title %>
</p>


<%= link_to 'Edit', edit_feed_category_path(@feed_category) %> |
<%= link_to 'Back', feed_categories_path %>
