<div id="sign_in" style="float: left; width: 46%; border-right: 1px solid #eee; padding-right: 3%;">
  <%= render :partial => "devise/sessions/new"%>
</div>

<div id="sign_up" style="float: right; width: 48%">
  <%= render :partial => "registrations/new" %>
</div>

<div style="clear: both"></div>