<h1><%= yield(:title) %></h1>
<br />
[TODO] Тут написать о магазине<br />
ИНН, КПП, с проверкой на сайте налоговой<br />
Кошельки платежных систем с рейтингами продавца<br />
Фотографии склада, коллектива, продавцов, менеджеров

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
