/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree . 
*/

/* TODO вот это не понятно надо или нет */
/* @import "bootstrap"; */

/* Опустить всю страницу. С офф. мануала */
body {
  padding-top: 60px;
}

/* Сдвинуть приветсвтие на главной */
.hero-unit {
  h1 {
    padding-bottom: 5px;
  }
}

/* Для страницы регистрации */

/* Для укорачивания поля для ввода номера телефона */
.margin-hack {
  margin-bottom: 0 !important;
  div {
    margin-left:0;
    input.phone-hack {
      width: 245px;
    }
  }
}

/* Для скрытия дополнительного поля с ошибкой (для +7) */
.hint-hack > div > .help-inline {
  display: none;
}

input {
	width: 270px;
}

/* Из-за того что не влазил текст Код подтверждения * */
label {
  width: 140px;
}

/* Понадобилось для того чтобы сместить левый сайдбар до размера верхнего notice/error */
.container-fluid > .sidebar {
  top: auto !important;
}

/* Из-за того, что не знаю каким образом дописать стиль для div'а, генерируемого с помощью fields_for
сдвигаю поэлементно каждый input внутри в обратную сторону. Используется для загрузки файлов */

.unmargin {
  margin-left: -150px;
}

/* Для рюшечки с кнопки Купить */
.topbar {
  z-index: 11
}

#poisk.btn {
  // TODO тут наверняка что-то лишнее :))
  // text-decoration: none !important;
  // background-color: #0064CD !important;
  // background-position: 0 -15px !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-image: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  -moz-transition: all 0.1s linear 0s !important;
  background-color: #E6E6E6 !important;
  background-image: -moz-linear-gradient(center top , white, white 25%, #E6E6E6) !important;
  background-repeat: no-repeat !important;
  border-color: #CCCCCC #CCCCCC #BBBBBB !important;
  border-radius: 4px 4px 4px 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  color: #333333 !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-size: 13px !important;
  line-height: 0px !important;
  padding: 3px 14px 4px 13px !important;
  margin: 0 0 0 0 !important;
  #padding: 0 0 0 0 !important;
  top: 0px !important;
  valign: bottom;
  position: static !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
  background-color: #0064CD !important;
  background-image: -moz-linear-gradient(center top , #049CDB, #0064CD) !important;
  height: 28px !important;
  background-repeat: repeat-x !important;
  border-color: #0064CD #0064CD #003F81 !important;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  vertical-align: bottom;
}

footer {
  margin-top: 45px;
}

/* Не знаю почему по-умолчанию gray. В следующей версии нормальный цвет */
li {
  color: inherit !important;
}

@import "compass/utilities/general/clearfix";

/* Не хочу делать clearfix, т.к. предыдущие элементы системы как оказалось не обоснованно используют этот класс */
.force-clearfix {
  @include clearfix;
}

/* BRANDS */

$brands-sprite-dimensions: true;
@import "brands/*.png";
@include all-brands-sprites;

.brands a {
  display: block;
  text-align: center;
  line-height: 180px;
  float: left;
}

//.itunes   { @include icons-sprite(itunes); }

/* /BRANDS */

/* STARS */

$stars-sprite-dimensions: true;
@import "stars/*.png";
@include all-stars-sprites;

/* /STARS */

#search-area a:visited {
  color: DarkBlue;
}

.container-fluid {
  z-index: 10;
}

#random-catalog-number {
  border-bottom: dashed #BFBFBF 1px;
  cursor: pointer
}
