@import "icons/*.png";

@include all-icons-sprites;

.icons-sprite {
  width: 16px;

  padding-left: 24px;
  margin-bottom: 5px;
}

.icons {
	width: auto;
}

.add_nested_fields {
	margin-left: 150px;
}

@import "icons-24/*.png";

@include all-icons-24-sprites;

.icons-24-sprite {
  width: 24px;
  height: 24px;
  padding-left: 24px;
  margin-bottom: 5px;
   margin-left: 10px;
}

.icons-24 {
	width: auto;
}