// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Fixes the positioning of the modal*/

.modal {
  top: 0px;
  margin-top: 60px;
  z-index: 10002;
  /*Make the modal display over the toolbar*/ }

/*From the 1.3 work in progress build*/

.modal-backdrop {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  /*Make the modal display over the toolbar*/
  &.fade {
    opacity: 0;
    &.in {
      filter: alpha(opacity = 50);
      -khtml-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5; } }
  filter: alpha(opacity = 50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5; }

.hide {
  display: none; }

.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
  &.in {
    opacity: 1; } }