#clear-catalog-number, #clear-manufacturer {
  display: inline-block;
  position: relative; 
  top: 8px;
  left: 5px;
  cursor: pointer;
}

.shout td {
  font-weight: bold;
}

.loud {
  color: #AAA;
}
