<ul class="breadcrumb">
  <li><a href="/">Главная</a> <span class="divider">/</span></li>
  <li><%= link_to "Список авто", cars_path %> <span class="divider">/</span></li>
  <li class="active">Редактирование свойств авто</li>
</ul>

<h1>Редактирование свойств авто</h1>

<%= render 'form' %>