<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li><%= link_to "Список автомобилей", cars_path %></li> <span class="divider">/</span></li>
  <li class="active">Редактирование свойств автомобиля</li>
</ul>

<h1>Редактирование свойств автомобиля</h1>

<%= render 'form' %>