<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li><%= link_to "Список автомобилей", cars_path %></li> <span class="divider">/</span></li>
  <li class="active">Добавление нового автомобиля</li>
</ul>

<h1>Добавление нового автомобиля</h1>

<%= render 'form' %>

<%= link_to 'Back', cars_path %>
