<ul class="breadcrumb">
  <li><a href="/">Главная</a> <span class="divider">/</span></li>
  <li><%= link_to "Список авто", cars_path %> <span class="divider">/</span></li>
  <li class="active">Добавление нового автомобиля</li>
</ul>

<h1>ШАГ 1 из 2 <small>Добавление нового автомобиля</small></h1>

<%= render 'form' %>
