<% status = item_status(params[:catalog_number], params[:manufacturer]) %>

<% render :partial => "pages/add_menu_elements" %>

<% case status[:their]  %>
  <% when 'avaliable' %>
    <div id='info' class='static'><%= @static.html_safe %></div>
  <% when 'unknown' %>
    <script>
      <% catalog_number = params[:catalog_number] %>
      <% manufacturer = params[:manufacturer] %>
      $(document).ready(function(){
        Application.connect();
        Application.publish('info', "<%= catalog_number %>", "<%= manufacturer %>");
      });
    </script>
    <div id='info' class='dynamic'></div>
<% end %>

<%= raw @page.default_content if @page %>
