        <!-- begin of Top100 code -->

        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2696075"></script>
        <noscript>
          <img src="http://counter.rambler.ru/top100.cnt?2696075" alt="" width="1" height="1" border="0" />

        </noscript>
        <!-- end of Top100 code -->

        <!--LiveInternet counter--><script type="text/javascript"><!--
          document.write("<a href='http://www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t16.3;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число просмотров за 24"+
            " часа, посетителей за 24 часа и за сегодня' "+
            "border='0' width='88' height='31'><\/a>")
         //--></script><!--/LiveInternet-->

       <!-- Rating@Mail.ru counter -->
       <script type="text/javascript">//<![CDATA[
         var a='';js=10;d=document;
         try{a+=';r='+escape(d.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
         try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
         try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
         try{d.write('<a href="http://top.mail.ru/jump?from=2156928"><img src="http://d9.ce.b0.a2.top.mail.ru/counter?id=2156928;t=49;js='+js+
           a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" style="border:0;" height="31" width="88" \/><\/a>');}catch(e){}//]]></script>
         <noscript><p><a href="http://top.mail.ru/jump?from=2156928"><img src="http://d9.ce.b0.a2.top.mail.ru/counter?js=na;id=2156928;t=49" 
             style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a></p></noscript>
         <!-- //Rating@Mail.ru counter -->
