<!DOCTYPE html>
<html>
<head>
  <title>Yaponama</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Yaponama</a>
          <ul class="nav">
            <li class="active"><a href="#">Стартовая</a></li>
            <li><a href="#contact">Контакты</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
	
      <div class="sidebar">
	
	    <div class="well"> 
			В вашей корзине X товаров на сумму X XXX руб.
        </div>
	
        <div class="well"> 
			<p>Наш сайт доступен в локальных сетях г. Норильска по следующим адресам:</p>
          <ul>
            <li> Стрим <a href="#">http://123.456.789.000</a></li>
            <li> Норком <a href="#">http://123.456.789.000</a></li>
            <li> и в Интернете <a href="#">http://www.yaponama.ru</a></li>
          </ul>
        </div>

      </div>

      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h1>Добро пожаловать!</h1>
          <p>Рады, что вы посетили наш магазин автозапчастей, надеемся вам понравятся наш ассортимент и цены. Если вы знаете артикул автозапчасти, то можете приступить к поиску прямо сейчас или связаться с нашим менеджером, для консультации и подбора.</p>
          <p><a class="btn primary large">Искать &raquo;</a> <a class="btn primary large">Связаться с менеджером &raquo;</a></p>
        </div>

<%= yield %>


        <footer>
          <p>&copy; Yaponama 2011</p>
        </footer>
      </div>
    </div>

</body>
</html>
